amqp==2.4.1
asn1crypto==0.24.0
billiard==3.5.0.5
braintree==3.51.0
celery==4.2.1
certifi==2018.11.29
cffi==1.12.2
chardet==3.0.4
cryptography==2.6.1
dj-database-url==0.5.0
Django==2.1.7
django-heroku==0.3.1
django-payments==0.13.0
django-payments-razorpay==0.1.2
django-paypal==0.5.0
gunicorn==19.9.0
idna==2.8
juspay==1.1.2
juspayp3==1.0.1
kombu==4.3.0
paypal==1.2.5
Pillow==5.4.1
psycopg2==2.7.7
pycparser==2.19
PyJWT==1.7.1
pytz==2018.9
razorpay==1.1.1
requests==2.21.0
requirements==0.1
six==1.12.0
stripe==2.21.0
suds-jurko==0.6
urllib3==1.24.1
vine==1.2.0
whitenoise==4.1.2
xmltodict==0.12.0
dropbox 
django-storages 
django-environ
python-decouple
WeasyPrint
