{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
 
    <title>{% block title %}My Shop{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
    
    <!-- div for header -->
    <div id="header">
        <a href="/" class="logo">My Shop</a>
    </div>

    <!-- div for subheader -->
    <div id="subheader">
        <div class="cart">
             {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                    Your Cart:&nbsp 
                    <a href="{% url 'cart:cart_detail' %}">
                        {{total_items}} Item{{total_items|pluralize}}&nbsp
                        Rs {{ cart.get_total_price }}
                    </a>
                {% else %}
                    Your Cart is empty
                {% endif %}
             {% endwith %}   
        </div>
    </div>

    <!-- div for content -->
    <div id='content'>
        {% block content %}
        {% endblock %}
    </div>

            <div class="copyright-main" style="position: fixed;
            left: 0;
            bottom: 10px;
            height:8%;
            width: 100%;
            background-color: #5993bb;
            color: white;
            text-align: center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h6 class="copy-title" style="font-size:14px">©2019 , All Right Reserved & developed by <a style="color: black" href="https://github.com/amitkadivar1/OnlineShop" target="_blank">Amit Kadivar</a> </h6>
                            {% block footer %}
                            {% endblock %}
                        </div>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </div>

    
</body>
</html>