{% extends "shop/base.html" %}
{% block title %}
 Thank you
{% endblock %}
{% block content %}
 <h1>Thank you</h1>
 <p>Complete payment details to confirm order<br> Your order number is
 <strong>{{ order_id }}</strong><br>
 Your pay amount is <strong>{{ amount }}</strong> </p>
<form action="{% url 'payment:response' %}" method="POST">
{% csrf_token %}
<script
    src="https://checkout.razorpay.com/v1/checkout.js"
    data-key={{public_key}}
    data-amount={{ amountorig }}
    data-buttontext="Pay with Razorpay"
    data-name="Online Shop"
    data-description=""
    data-image="https://your-awesome-site.com/your_logo.jpg"
    data-prefill.name="Amit kadivar"
    data-prefill.email="test@test.com"
    data-theme.color="#F37254"
    data-notes.address="Rajkot"
></script>
<input type="hidden" value="Hidden Element" name="hidden">
</form>

{% endblock %}
